 REACT_APP_API_KEY=AIzaSyCKTWXujINjkG4yj4PURQzjlnkDVPJRpcM
 REACT_APP_AUTH_DOMAIN=kompad-demo-364216.firebaseapp.com
 REACT_APP_PROJECT_ID=kompad-demo-364216
 REACT_APP_STORAGE_BUCKET=kompad-demo-364216.appspot.com
 REACT_APP_MESSAGING_SENDER_ID=516864158744
 REACT_APP_APP_ID=1:516864158744:web:ba79a488a968310d26a76d
 REACT_APP_MEASUREMENT_ID=G-M4TKWVMMHS
