REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGE_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=

REACT_APP_ALGOLIA_APP_ID=
REACT_APP_ALGOLIA_API_KEY=

REACT_APP_DISCORD_WEBHOOK=
