.form-control label {
  @apply block text-sm;
  color: var(--common-semidark-text-color);
}

.form-control .form-icon {
  @apply absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none
}

.form-control input {
  @apply block w-full pl-10 sm:text-sm rounded-md;
  @apply focus:border-[color:var(--common-primary-color)] focus:ring-[color:var(--common-primary-color)];
  background-color: var(--common-dark-bg-color);
  border-color: var(--common-border-light-color);
}

.form-control input:read-only{
  background-color: var(--common-darker-bg-color);
}

