.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  caret-color: rgb(33, 164, 220);
  caret-shape: bar;
  font-size: 1em;
  line-height: 1.5;
}

.ProseMirror h4 {
  @apply text-lg;
}
.ProseMirror h3 {
  @apply text-xl;
}
.ProseMirror h2 {
  @apply text-2xl;
}
.ProseMirror h1 {
  @apply text-3xl;
}

.ProseMirror a {
  @apply text-yellow-600 dark:text-yellow-500 hover:underline;
}

/* Spacing */
.ProseMirror p,
.ProseMirror h4,
.ProseMirror h3,
.ProseMirror h2,
.ProseMirror h1,
.ProseMirror blockquote,
.ProseMirror img {
  @apply mb-8;
}

.ProseMirror ul p,
.ProseMirror ol p {
  @apply mb-4;
}

.ProseMirror hr {
  @apply my-8;
}

.ProseMirror code {
  @apply bg-gray-100 px-1 rounded-sm text-gray-600 dark:bg-gray-700;
}

.ProseMirror ul,
.ProseMirror ol {
  @apply pl-12 mb-8;
}

.ProseMirror ul {
  @apply list-disc;
}

.ProseMirror ol {
  @apply list-decimal;
}

.ProseMirror blockquote {
  @apply border-l-4 pl-8 italic font-serif text-lg text-gray-600;
}

.ProseMirror blockquote p {
  @apply mb-4;
}

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
  @apply flex flex-col gap-2;
}

.ProseMirror ul[data-type="taskList"] p {
  margin: 0;
  @apply text-gray-600 dark:text-gray-300;
}

.ProseMirror ul[data-type="taskList"] li {
  display: flex;
  @apply px-3 py-2 bg-white shadow-sm rounded-md border border-gray-200 dark:bg-gray-700 dark:border-gray-800;
}

.ProseMirror ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.ProseMirror ul[data-type="taskList"] li > label input {
  @apply -mt-1 rounded border border-gray-400 dark:bg-gray-400 dark:border-gray-700 cursor-pointer hover:bg-yellow-50 focus:ring-transparent focus:ring-offset-0;
}

.ProseMirror ul[data-type="taskList"] li > label input:checked {
  @apply bg-emerald-500 border-emerald-500;
}

.ProseMirror ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.ProseMirror img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.ProseMirror img.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

/* DARK MODE */

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5 {
  @apply dark:text-gray-100;
}

.ProseMirror p,
.ProseMirror code {
  @apply dark:text-gray-300;
}

.ProseMirror hr {
  @apply dark:border-gray-700;
}

.ProseMirror mark {
  @apply dark:text-gray-900;
}
