.sign-container {
  @apply bg-gray-100 flex items-center justify-center dark:bg-gray-800;
  height: calc(100vh - 2px);
}

.sign {
  @apply p-8 bg-white shadow-xl w-96 dark:bg-gray-700;
  @apply rounded-lg;
}


.sign-title {
  @apply text-2xl font-bold;
}

.sign-desc {
  @apply text-gray-400 text-sm mt-3;
}

.input-group {
  @apply mt-4;
}

.selected-avatar {
  /* @apply outline-indigo-500; */
  outline-color: #6366f1 !important;
}

.sign-form input {
  @apply dark:bg-gray-800 dark:border-gray-800
}

.sign-form a {
  @apply dark:text-yellow-400
}