.tiptap-container {
  position: relative;
  @apply dark:bg-gray-800;
}
.tiptap-box {
  /* @apply overflow-y-auto; */
}

.pad-infos {
  @apply px-8 pb-8 w-[700px] xl:w-[800px] m-auto;
}

.tiptap-main-content {
  @apply px-8 pt-2 pb-8 w-[700px] xl:w-[800px] m-auto;
  /* height: calc(100vh - 25px - 64px - 225px); */
  font-size: 16px; /* base font size */
}

.fixed-controlbar {
  @apply px-6 py-4 w-[700px] xl:w-[800px] m-auto;
}

.tiptab-format-actions {
  @apply flex flex-nowrap py-2 overflow-x-auto justify-center;
  @apply bg-gray-900 rounded-md;
}

.tiptap-action-group {
  @apply flex justify-center px-2;
}

.character-count {
  @apply px-2 text-center border-t absolute bottom-0 left-0 text-xs;
  width: calc(100% - 2px);
  background-color: var(--common-bg-color);
  border-top-color: var(--common-border-color);
}

.controlbar-container {
  @apply m-auto;
}

.control-icon {
  @apply w-8 h-8 p-2 rounded-md border transition;
  @apply text-gray-600 bg-white hover:bg-gray-50;
  background-color: var(--common-btn-bg-color);
  border-color: var(--common-border-color);
  color: var(--common-text-color);
}

.control-icon:hover{
  background-color: var(--common-btn-bg-hover-color);
}

.controlbar-container .is-active .control-icon,
.controlbar-container .control-icon.is-active {
  background-color: var(--common-btn-bg-active-color);
  border-color: var(--button-border-active-color);
  color: var(--button-text-active-color);
}

.react-component {
	 background: #faf594;
	 border: 3px solid #0d0d0d;
	 border-radius: 0.5rem;
	 margin: 1rem 0;
	 position: relative;
}
 .react-component .label {
	 margin-left: 1rem;
	 background-color: #0d0d0d;
	 font-size: 0.6rem;
	 letter-spacing: 1px;
	 font-weight: bold;
	 text-transform: uppercase;
	 color: #fff;
	 position: absolute;
	 top: 0;
	 padding: 0.25rem 0.75rem;
	 border-radius: 0 0 0.5rem 0.5rem;
}
 .react-component .content {
	 margin-top: 1.5rem;
	 padding: 1rem;
}

.column {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(237, 230, 230);
}

.column--selected {
  background-color: rgb(135, 124, 124);
}

